* {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



.App {

  max-width: 500px;
  margin: auto;
  padding: 42px 24px;
}

.StockEventsTable_Card{
  margin: 12px 0;
  border: 2px solid rgb(19, 18, 18);
  border-radius: 3px;
  padding: 24px;
}